/*contact_us*/
#contact_mainbox{
    margin-top: 43.2px;
}
#contact_all_subhead{
    font-size: 36px;
}
#contact_company_name{
    font-size : 21px;
}
#contact_company_info{
    font-size : 16px;
}
#contact_company_box{
    margin-bottom: 12px;
}
#small_text_box{
    width : 351.21px;
    height : 40.8px;
}
#big_text_box{
    width : 351.21px;
    height : 103.2px;
}
#contact_input_topic{
    float : right;
    font-size : 13px;
    color : #555555;
}
#file_input_box{
    font-size: 15px;
    background-color: #eceaea;
    color : #666666;
    width : 351.21px;
    height : 40.8px;
}
#file_input{
    height: 25px;
}
#contact_underline{
    padding: 0 15px;
    width : 351.21px;
    border:  solid 0.5px;
    opacity: 0.05;
}
#full_report{
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 25px;
}
#full_report_box:hover{
    text-decoration: none;
}
#full_report:hover {
    color: red;
}
/*contact_us*/
