/*Media_center*/
#oishi_media_header {
    font-size: 36px;
    margin-top: 14.2px;
    margin-bottom: 54.2px;}
#oishi_media_header_CENTER {color: #666666;}
.mini_calendar{
    opacity: 0.9;}
#entry-picture{
    width: 200px;
    height: 150px;
}
#posthead{
    color : #464646;
    font-size : 17px;
}
#date{
    font-family: 'Crete Round', serif;
    color : #999999;
    font-size : 13px;
}
#meterial_infront{
    color : #666666;
    font-size: 15px;
}
.btn-seemore{
    width: 89.61px;
    height: 34px;
    line-height: 34px;
    padding: 0 22px;
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-weight: 300;
}
.btn-seemore i{
    right: -25.61px;
    width: 25.61px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
}
.btn-seemore:hover span {
    margin-left: -11px;
    margin-right: 11px;
}

.modal-dialog {
    max-width: 800px;
}

.modal-body{
    padding: 10px 50px 50px 50px;
}
#full_image{
    width: 100%;
}
#full_topic{
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 30px;
}
#f_meterial{
    font-size: 15px;
    margin-bottom: 10px;
}
#picture9{
    margin-bottom: 85px;
}
#meterial0{margin-left : 30px;}
#meterial1{margin-left : 30px;}
#meterial2{margin-left : 30px;}
#meterial3{margin-left : 30px;}
#meterial4{margin-left : 30px;}
#meterial5{margin-left : 30px;}
#meterial6{margin-left : 30px;}
#meterial7{margin-left : 30px;}
#meterial8{margin-left : 30px;}
#meterial9{margin-left : 30px;}
/*Media_center*/
