/*Media_center*/
#oishi_media_header {
    font-size: 36px;
    margin-top: 14.2px;
    margin-bottom: 54.2px;}
#oishi_media_header_CENTER {color: #666666;}
.mini_calendar{
    opacity: 0.9;}
#entry-picture{
    width: 200px;
    height: 150px;
}
#posthead{
    color : #464646; 
    font-size : 17px;
}
#date{
    font-family: 'Crete Round', serif;
    color : #999999; 
    font-size : 13px;
}
#meterial_infront{
    color : #666666;
    font-size: 15px;
}
#button_to_readmore{
    margin-top: 20px;
    margin-left : 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color : #f01c24;
    width : 89.61px;
    height : 34px;
    border : none;
    transition: 0.1s;
}
#inside_button{
    font-size : 12px;
    color : #ffffff;
}
#picture9{
    margin-bottom: 85px;
}
#meterial0{margin-left : 30px;}
#meterial1{margin-left : 30px;}
#meterial2{margin-left : 30px;}
#meterial3{margin-left : 30px;}
#meterial4{margin-left : 30px;}
#meterial5{margin-left : 30px;}
#meterial6{margin-left : 30px;}
#meterial7{margin-left : 30px;}
#meterial8{margin-left : 30px;}
#meterial9{margin-left : 30px;}
/*Media_center*/
