.menu-option {
    padding-bottom: 15px;
}

.menu-option-item {
    display: inline-block;
    min-width: 20%;
    padding: 20px 0px 30px 5px;
    margin-right: -5px;
    cursor: pointer;
    border-bottom: 2px solid #ebebeb;
    transition: color .2s ease-out, border-bottom .2s ease-out;
}


.menu-icon {
    float: left;
    width: 25px;
    margin-right: 15px;
    margin-top: 5px;
}

@media (max-width: 1199px){
    .menu-option-item {
        min-width: 25%;
    }
}

@media (max-width: 992px){
    .menu-option-item {
        min-width: 50%;
        padding-bottom: 15px;
    }
    .menu-icon {
        width: 55px;
    }
}

@media (max-width: 768px){
    .menu-option-item {
        min-width: 100%;
    }
}

.menu-option-item.active {
    border-bottom: 2px solid red;
    color: red;
}
.menu-option-item.active h1, .menu-option-item.active{
    top: -2px;
}