.menu-option {
    padding-bottom: 15px;
}
.oishi-header{
    text-align: center;
}
.oishi-header h1 {
    font-weight: 600;
}
.title-business-form {
    text-align: right;
}
.oishi-header h1 span {
    color: #464646;
    line-height: 1.5;
}
.tab{
    animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
.oishi-header {
    margin-bottom: 50px;
}
.menu-option-item {
    display: inline-block;
    min-width: 20%;
    padding: 20px 0px 30px 5px;
    margin-right: -5px;
    cursor: pointer;
    border-bottom: 2px solid #ebebeb;
    transition: color .2s ease-out, border-bottom .2s ease-out;
}
.col-3{
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.entry:hover img{
    transform: scale(1.05);

}
.tab-container{
    padding: 35px 0px 0px;
}

.packed-detail{
    margin: 0;
    padding: 0;
}

.packed-detail .col-md-3{
    padding: 0px 15px;
}
.entry{
    margin: 0 0 25px;
    padding: 0 0 25px;
}

.entry img{
    margin: 0 0 10px;
    transition: all .3s;
}

.entry p{
    height: 45px;
    margin: 0;
    text-align: center;
}

p{
    margin-bottom: 30px;
}
.menu-icon {
    float: left;
    width: 25px;
    margin-right: 15px;
    margin-top: 5px;
}

@media (max-width: 1199px){
    .menu-option-item {
        min-width: 25%;
    }
}

@media (max-width: 992px){
    .menu-option-item {
        min-width: 50%;
        padding-bottom: 15px;
    }
    .menu-icon {
        width: 55px;
    }
}

@media (max-width: 768px){
    .menu-option-item {
        min-width: 100%;
    }
}

.menu-option-item.active {
    border-bottom: 2px solid red;
    color: red;
}
.menu-option-item.active h1, .menu-option-item.active{
    top: -2px;
}
.col_half {
    width: 48%;
    margin: 0 30px 25px 0;
}
.title-business-form {
    text-align: right;
}