@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&display=swap');

:root{
    --font-extra-light: 200;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
}

*{
    font-family: 'Kanit', sans-serif;
}

.font-extra-light {font-weight: var(--font-extra-light);}
.font-light {font-weight: var(--font-light);}
.font-regular {font-weight: var(--font-regular);}
.font-medium {font-weight: var(--font-medium);}

html, body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    opacity: 0;
    transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s; /* for Safari */
}

h1, h2, h3, h4, h5, h6 {
    color: #464646;
}

/* Header (navbar) */
header .container {
    padding: 0 25px;
    min-height: 100px;
}

.topnav {
    background-image: url("https://www.oishifood.com/img/tear_top.png");
    background-position: center bottom;
    background-size: contain;
    background-repeat: repeat-x;


    /* fixed-top */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

}

.topnav ul {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
}

.topnav ul li {
    display: inline-block;
    line-height: 1.6;
    letter-spacing: 1px;
    padding: 20px 12px 5px;
}

.topnav ul li a {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.topnav ul li a span {
    color: #666666;
}

.topnav ul li a:hover,
.topnav ul li a:hover span{
    text-decoration: none;
    color: red;
}

.nav-icon {
    float: right;
    margin: 27px 0px 20px 10px;
}

#btn-bars-icon {
    display: none;
    outline: none;
    border: none;
    background-color: transparent;
    float: right;
    margin-top: 20px;
    font-size: 28px;
    color: #666666;
}

@media (max-width: 1199px){
    #brand-img img{
        width: 65px;
    }
    .topnav ul li {
        letter-spacing: 0;
    }
    .topnav ul li a {
        font-size: 12px;
    }
}

@media (max-width: 992px) {

    #btn-bars-icon {
        display: block;
    }

    .topnav {
        position: absolute;
    }

    .topnav ul li{
        display: none;
    }

    .topnav.show {
        position: relative;
        padding-bottom: 30px;
    }

    .topnav.show ul {
        float: none;
        text-align: left;
    }

    .topnav.show ul li {
        float: none;
        display: block;
        text-align: left;
        border-top: 1px solid #EEE;
    }

    .topnav.show ul li:first-child {
        border: none;
    }

    .topnav.show ul li a{
        font-size: 14px;
        letter-spacing: 1px;
    }

}

@media (min-width: 993px) {
    .menu-line-lg {
        width: 100%;
        top: 0;
        display: block;
        /* vertical-align: top; */
        -webkit-border-image: -webkit-linear-gradient(left, #f5f5f5 0%, #999 50%, #f5f5f5 100%) 1 stretch;
        border-image: linear-gradient(to right, #f5f5f5 0%, #999 50%, #f5f5f5 100%) 1 stretch;
        border-style: solid;
        border-width: 0 0 1px 0;
    }
}


/* End Header */

.banner {
    margin-top: 60px;
}

.banner img {
    min-width: 100%;
}

/* Main Content */
.main-content {
    position: relative;
    z-index: 1;
}

.img-tear-bottom {
    position: absolute;
    top: 0px;
    left: 0;
    margin-top: -39px;
    width: 100%;
    height: 40px;
    z-index: 3;
    background-image: url('https://www.oishifood.com/img/tear_bottom.png');
    background-position: center bottom;
    background-size: contain;
    background-repeat: repeat-x;
}

.img-bg {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.header-sign {
    background: url('https://www.oishifood.com/img/header-bg.png');
    height: 112px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 20px 20px 20px;
}

.header-sign h1 {
    font-size: 36px;
    font-weight: var(--font-medium);
    margin-bottom: 0px;
    color: #333333;
}
.header-sign h2 {
    font-size: 24px;
    margin-bottom: 0px;
    color: #333333;
}

.chopstick {
    top:10%;
    right: 0;
    position: absolute;
    animation: slideInFromRight 1s .5s ease-out;
}

@keyframes slideInFromRight {
    0% {transform: translateX(100%);}
    100% {transform: translateX(0);}
}

/* to remove slide down effect in Class fade */
.modal.fade .modal-dialog{
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;

    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}

.modal-header {
    border: none;
}

.modal-header button.close {
    width: 45px;
    height: 40px;
    padding: 0px;
    opacity: 1 !important;
    background-color: #dd343c;
}

.modal-header button.close:focus {
    outline: none;
}

.modal-content {
    border: none;
    border-radius: 0;
}

.modal-body h4 {
    font-weight: var(--font-regular);
    line-height: 1.5;
    color: #464646
}
.modal-body p {
    font-weight: var(--font-light);
    color: #666666;
}

.restaurant-item .brand-pic {
    opacity: 1;
    transition: opacity .3s ease-in;
}

.restaurant-item .brand-pic:hover {
    opacity: 0.8;
}

.restaurant-item .caption {
    margin: 30px 0;
}

.restaurant-item .caption h2 {
    font-weight: var(--font-medium);
    font-size: 20px;
    color: #464646;
}

.restaurant-item .caption p {
    font-weight: var(--font-light);
    font-size: 16px;
    line-height: 1.8;
    color: #464646;
}

.btn-seemore {
    position: relative;
    display: inline-block;
    padding: 0 32px;
    height: 46px;
    line-height: 46px;
    cursor: pointer;
    color: white;
    background-color: #f01c24;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.btn-seemore i {
    position: absolute;
    text-align: center;
    right: -38px;
    width: 38px;
    height: 46px;
    font-size: 24px;
    line-height: 46px;
    background-color: rgba(0, 0, 0, 0.15);
    transition: all .2s ease-in-out;
}

.btn-seemore:hover{
    text-decoration: none;
    color: white;
    background-color: #d41a20;
}

.btn-seemore:hover i {
    right: 0;
}

.btn-seemore span {
    font-size: 24px;
    font-weight: var(--font-light);
    transition: all .2s ease-in-out;
}

.btn-seemore:hover span {
    margin-left: -18px;
    margin-right: 18px;
}

/* Main Content */

/* Footer */

footer {
    font-size: 15px;
    font-weight: var(--font-regular);
}

footer .container .row .col-md-3 a{
    color: #464646;
    transition: 0.2s ease-out;
}

footer .container .row .col-md-3 a:hover {
    color: red;
    text-decoration: none;
}

footer .container .row .col-md-3 ul {
    margin-bottom: 0px;
    padding-left: 20px;
    list-style-type: none;
}

footer .container .row .col-md-3 ul li a{
    font-weight: var(--font-extra-light);
    color: #666666;
}

#footer-contact-follow h1{
    font-size: 15px;
    font-weight: var(--font-regular);
    color: #464646;
}
#footer-contact-follow h2{
    font-size: 15px;
    font-weight: var(--font-light);
    color: #666666;
}
#footer-contact-follow p{
    font-size: 15px;
    font-weight: var(--font-extra-light);
    color: #666666;
}

.footer-border {
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding: 30px 0;
}

.footer-border-right {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.social-icon {
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    font-size: 22px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    text-align: center;
    background-color: #444;
    transition: all .3s ease;
}

.social-icon i {
    top: 0;
    line-height: 40px;
    color: white;
    display: block;
    position: relative;
    transition: all .3s ease;
}

/* circle on navbar */
.social-icon.si-small {
    width: 30px;
    height: 30px;
    font-size: 14px;
    transition: none;
}
.social-icon.si-small i {
    line-height: 30px;
}

#language-button {
    font-weight: var(--font-light);
    font-size: 12px;
    line-height: 30px;
    color: white;
    background-color: #f01c24;
}

#language-button:hover {
    text-decoration: none;
    background-color: #cc2228;
}
/* circle on navbar */


.follow .social-icon:hover i{
    top: -40px;
}

#facebook-icon:hover{background-color: #3b5998;}
#youtube-icon:hover{background-color: #ff0000;}
#twitter-icon:hover{background-color: #1DA1F2;}

/* .fa-facebook-f:before {
    content: "\f39e" !important;
} */
/* Footer */

/* gotoTop */
#btn-gotoTop {
    display: none;
    z-index: 299;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0.3);
    color: white;
    text-align: center;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition: background-color .2s;
}

#btn-gotoTop:hover {background-color: red;}
#btn-gotoTop:focus {outline: none;}
/* gotoTop */