@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&display=swap');

*{
    font-family: 'Kanit', sans-serif;
}

:root{
    --font-extra-light: 200;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
}

.font-extra-light {font-weight: var(--font-extra-light);}
.font-light {font-weight: var(--font-light);}
.font-regular {font-weight: var(--font-regular);}
.font-medium {font-weight: var(--font-medium);}

html {
    scroll-behavior: smooth;
}

body {
    opacity: 0;
    transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s; /* for Safari */
}

/* Header */
header {
    background-image: url("https://www.oishifood.com/img/tear_top.png");
    background-position: center bottom;
    background-size: contain;
    background-repeat: repeat-x;
}

header .navbar .container {
    padding: 0 25px;
}
.navbar-brand {
    margin-right: 40px;
}

ul.navbar-nav li a{
    padding: 20px 15px 10px;
}

ul.navbar-nav li a div{
    color: #333333;
}

.menu-line {
    width: 100%;
    top: 0;
    display: inline-block;
    vertical-align: top;
    -webkit-border-image: -webkit-linear-gradient(left, #f5f5f5 0%, #999 50%, #f5f5f5 100%) 1 stretch;
    border-image: linear-gradient(to right, #f5f5f5 0%, #999 50%, #f5f5f5 100%) 1 stretch;
    border-style: solid;
    border-width: 0 0 1px 0;
}

/* End Header */


/* Banner Owl-Carousel */
.banner {
    margin-top: 80px;
}

.owl-prev, .owl-next {
    width: 52px;
    height: 52px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    opacity: 0 !important;
    transition: all 0.45s ease;
}
.owl-prev { left: 0px; }
.owl-next { right: 0px; }

.owl-next:hover, .owl-prev:hover {background: white}
.owl-next:focus, .owl-prev:focus {outline: none;}

.owl-carousel:hover .owl-nav .owl-prev {opacity: 1 !important;}
.owl-carousel:hover .owl-nav .owl-next {opacity: 1 !important;}

.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: transparent !important;
}

/* End Banner Owl-Carousel */


/* Main Content */
.main-content {
    position: relative;
}

.img-tear-bottom {
    position: absolute;
    top: 0px;
    left: 0;
    margin-top: -39px;
    width: 100%;
    height: 40px;
    z-index: 3;
    background-image: url('https://www.oishifood.com/img/tear_bottom.png');
    background-position: center bottom;
    background-size: contain;
    background-repeat: repeat-x;
}


.img-bg {
    /* height: 1000px; */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.header-sign {
    background: url('https://www.oishifood.com/img/header-bg.png');
    height: 112px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 20px 20px 20px;
}

.header-sign h1 {
    font-size: 36px;
    font-weight: var(--font-medium);
    margin-bottom: 0px;
}
.header-sign h2 {
    font-size: 24px;
    font-weight: var(--font-extra-light);
    margin-bottom: 0px;
}

#owl-product-recommend .owl-nav .owl-prev {
    left: -36px;
    width: 60px;
    height: 60px;
}
#owl-product-recommend .owl-nav .owl-next {
    right: -36px;
    width: 60px;
    height: 60px;
}

#owl-product-recommend .owl-item img {
    transition: all .3s;
}

#owl-product-recommend .owl-item:hover {
    cursor: pointer;
}

#owl-product-recommend .owl-item:hover img {
    transform: scale(1.05);
}

#owl-product-recommend .owl-item h4 {
    font-size: 16px;
    font-weight: var(--font-regular);
    color: #464646;
    line-height: 1.5;
}

/* to remove slide down effect in Class fade */
.modal.fade .modal-dialog{
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;

    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}

.modal-header {
    border: none;
}

.modal-header button.close {
    width: 45px;
    height: 40px;
    padding: 0px;
    opacity: 1 !important;
    background-color: #dd343c;
}

.modal-header button.close:focus {
    outline: none;
}

.modal-content {
    border: none;
    border-radius: 0;
}

#section-recommend .modal .modal-dialog .modal-content .modal-body h4 {
    font-weight: var(--font-regular);
    line-height: 1.5;
    color: #464646
}
#section-recommend .modal .modal-dialog .modal-content .modal-body p {
    font-weight: var(--font-light);
    color: #666666;
}

.brand-pic {
    opacity: 1;
    transition: opacity .3s ease-in;
}

.brand-pic:hover {
    opacity: 0.8;
}

.restaurant-item .caption {
    margin: 30px 0;
}

.restaurant-item .caption h2 {
    font-weight: var(--font-medium);
    font-size: 20px;
    color: #464646;
}

.restaurant-item .caption p {
    font-weight: var(--font-light);
    font-size: 16px;
    line-height: 1.8;
    color: #464646;
}

#owl-oishi-restaurant .owl-nav .owl-prev {
    left: -36px;
    top: 35%;
    width: 60px;
    height: 60px;
}
#owl-oishi-restaurant .owl-nav .owl-next {
    right: -36px;
    top: 35%;
    width: 60px;
    height: 60px;
}

.btn-seemore {
    position: relative;
    display: inline-block;
    padding: 0 32px;
    margin: 5px;
    font-size: 24px;
    font-weight: var(--font-light);
    height: 46px;
    line-height: 46px;
    cursor: pointer;
    color: white;
    background-color: #f01c24;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.btn-seemore i {
    position: absolute;
    text-align: center;
    right: -38px;
    width: 38px;
    height: 46px;
    line-height: 46px;
    background-color: rgba(0, 0, 0, 0.15);
    transition: all .2s ease-in-out;
}

.btn-seemore:hover{
    text-decoration: none;
    color: white;
    background-color: #d41a20;
}

.btn-seemore:hover i {
    right: 0;
}

.btn-seemore span {
    transition: all .2s ease-in-out;
}

.btn-seemore:hover span {
    margin-left: -18px;
    margin-right: 18px;
}

#owl-oishi-restaurant .owl-dots{
    position: absolute;
    right: 0;
    top: -65px;
}

#owl-oishi-restaurant .owl-dots .owl-dot span{
    margin: 4px;
}
#owl-oishi-restaurant .owl-dots .owl-dot:focus{outline: none;}
#owl-oishi-restaurant .owl-dots .active span{background-color: #f01c24;}
#owl-oishi-restaurant .owl-dots span{background-color: #f19497;}

/* Main Content */

/* Footer */

footer {
    font-size: 15px;
    font-weight: var(--font-regular);
}

footer .container .row .col-md-3 a{
    color: #464646;
    transition: 0.2s ease-out;
}

footer .container .row .col-md-3 a:hover {
    color: red;
    text-decoration: none;
}

footer .container .row .col-md-3 ul {
    margin-bottom: 0px;
    padding-left: 20px;
    list-style-type: none;
}

footer .container .row .col-md-3 ul li a{
    font-weight: var(--font-extra-light);
    color: #666666;
}


#footer-contact-follow h1{
    font-size: 15px;
    font-weight: var(--font-regular);
    color: #464646;
}
#footer-contact-follow h2{
    font-size: 15px;
    font-weight: var(--font-light);
    color: #666666;
}
#footer-contact-follow p{
    font-size: 15px;
    font-weight: var(--font-extra-light);
    color: #666666;
}

.footer-border {
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding: 30px 0;
}

.footer-border-right {
    border-right: 1px solid rgba(0, 0, 0, 0.15);

}

.social-icon {
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    font-size: 22px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    text-align: center;
    background-color: #444;
    transition: all .3s ease;
}

.social-icon i {
    top: 0;
    line-height: 40px;
    color: white;
    display: block;
    position: relative;
    transition: all .3s ease;
}

.social-icon:hover i{
    top: -40px;
}

#facebook-icon:hover{background-color: #3b5998;}
#youtube-icon:hover{background-color: #ff0000;}
#twitter-icon:hover{background-color: #1DA1F2;}


.fa-facebook-f:before {
    content: "\f39e" !important;
}
/* Footer */

/* gotoTop */
#btn-gotoTop {
    display: none;
    z-index: 299;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0.3);
    color: white;
    text-align: center;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition: background-color .2s;
}

#btn-gotoTop:hover {background-color: red;}
#btn-gotoTop:focus {outline: none;}
/* gotoTop */
